<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068622317525-f688v119ji93b4j6p9utl2u34blg4ee9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068622317525-f688v119ji93b4j6p9utl2u34blg4ee9</string>
	<key>API_KEY</key>
	<string>AIzaSyD75MW7u9pwh0wTu3_hXEMRW9XU3FCtEfM</string>
	<key>GCM_SENDER_ID</key>
	<string>1068622317525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.RuneoDriverFlutter</string>
	<key>PROJECT_ID</key>
	<string>runeo-drive-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>runeo-drive-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068622317525:ios:967eff25cfaae612579f5c</string>
	<key>DATABASE_URL</key>
	<string>https://runeo-drive-flutter.firebaseio.com</string>
</dict>
</plist>